.circle
{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    z-index: 100;
    position: absolute;
    transition: all cubic-bezier(0.19,1,0.22,1) 1s;
}
.bounding
{
    overflow: hidden;
    width: fit-content;
}
.boundingelem
{
    transform: translateY(100%);
}