#footer
{
    display: flex;
    justify-content: space-between;
    margin-top: 30vh;
    padding-left: 40px;
   padding-bottom: 40px;
}
#one
{
    display: flex;
    gap:2vw
}
#two a
{
    text-decoration: none;
    color: white;
}
#two
{
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    padding-right: 20px;
}