nav
{
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}
nav h3
{
    padding-left: 40px;
    font-family: "GeneralSans-Medium";
}
nav button
{
    background-color: black;
    border: 0px;
    color: white;
    padding: 20px;
    padding-right: 2vw;
}