@import url(navbar.css);
@import url(heading.css);
@import url(Avlablity.css);
@import url(link.css);
@import url(second.css);
@import url(third.css);
@import url(four.css);
@import url(FOOTER.CSS);
@import url(cssforscript.css);


/* @font-face {
    font-family: "GeneralSans-Medium";
    src: url(E:\PROJECT-1\Assets\fonts\GeneralSans-Medium.otf);
}
@font-face {
    font-family: "GeneralSans-Regular";
    src: url(E:\PROJECT-1\Assets\fonts\GeneralSans-Regular.otf);
} */
*
{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
   
}
html,body
{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    
    font-family: "GeneralSans-Regular";
}
#hero
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
